{% extends "dashboard.html" %}

{% block title %}| Historys{% endblock %}

{% block dashboard %}
    <div class="border border-primary border-bottom-0 rounded-top p-5">
        <h1 class="text-primary">Your histories</h1>
    </div>
    <div class="table-wrapper border border-primary rounded-bottom border-top-0">
        <table class="table table-striped mb-0">
            <thead class="table-primary">
                <tr>
                    <th class="d-none">histID</th><th class="d-none">contID</th><th>Name</th><th>Last name</th><th>Subject</th><th>Follow up</th><th></th>
                </tr>
            </thead>
            <tbody>
                {% if tabledata %}
                    {% for item in tabledata %}
                        <tr>
                            <td class="d-none">{{ item[0] }}</td>
                            <td class="d-none">{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[3] }}</td>
                            <td>{{ item[4] }}</td>
                            {% if item[5] %}
                                <td>{{ item[5] }}</td>
                            {% else %}
                                <td>None</td>
                            {% endif %}
                            <td><button class="btn btn-primary btn-sm float-right">Edit</button></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td colspan="5" class="text-center">You have no historys. Start by adding <a href="/contacts">one!</a></td>
                {% endif %}
            </tbody>
        </table>
    </div>
    <script src="/static/js/historyview.js"></script>
{% endblock %}